<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge Chapter 4 FSW - Ramdan Agus Saputra</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/gameStyle.css" />
    <link rel="stylesheet" href="css/gameQueries.css" />

    <!-- JavaScript -->
    <script
      defer
      type="module"
      src="https://kit.fontawesome.com/2613e9e9dd.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="script/game.js"></script>
  </head>
  <body>
    <header class="header">
      <a href="/">
        <i class="icon fa-solid fa-angle-left"></i>
      </a>
      <i class="icon fa-solid fa-gamepad"></i>
      <p class="title">rock paper scissors</p>
    </header>

    <main class="app">
      <section class="player player--1">
        <p class="player-text">Player 1</p>
        <img class="img p1-rock p1" src="img/batu.webp" alt="batu" />
        <img class="img p1-paper p1" src="img/kertas.webp" alt="kertas" />
        <img class="img p1-scissor p1" src="img/gunting.webp" alt="gunting" />
      </section>

      <section class="middle">
        <p class="winner-text">player 1 win</p>
        <p class="middle-text">VS</p>
      </section>

      <section class="player player--com">
        <p class="player-text">com</p>
        <img class="img com-rock" src="img/batu.webp" alt="batu" />
        <img class="img com-paper" src="img/kertas.webp" alt="kertas" />
        <img class="img com-scissor" src="img/gunting.webp" alt="gunting" />
      </section>

      <img class="img-refresh" src="img/refresh.webp" alt="refresh" />
    </main>
  </body>
</html>
