/* GENERAL USE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(112, 100, 81);
  font-family: sans-serif;
}

/* HEADER */
.header {
  padding: 2.4rem;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-bottom: 2rem;
}

.icon,
.title {
  font-size: 4.8rem;
  color: brown;
  text-transform: uppercase;
  font-weight: 600;

  display: inline-block;
}

.title {
  color: rgb(254, 194, 83);
}

/* MAIN */
.app {
  max-width: 90rem;
  padding: 0 3.2rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  justify-items: center;
  position: relative;
}

.player {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.player-text {
  font-size: 3.2rem;
  text-transform: uppercase;
}

.img {
  width: 12.8rem;
  height: 12.8rem;
  padding: 1.8rem;
}

.middle {
  align-self: center;
}

.middle-text {
  font-size: 12.8rem;
  font-weight: 600;
  color: red;
}

.win .middle-text {
  display: none;
}

.winner-text {
  display: none;
}

.win .winner-text {
  text-transform: uppercase;
  background-color: green;
  color: white;
  font-size: 4.8rem;
  width: 34.5rem;
  height: 15.8rem;
  padding: 2.4rem 5.8rem;
  border-radius: 9px;
  transform: rotate(-45deg);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-refresh {
  width: 4.8rem;
  height: 4.8rem;

  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
}

.active {
  background-color: #aaa;
  border-radius: 9px;
}

/* 
---- Typography System (px) 
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

----  White Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
*/
